<!-- A macro returning a "block" of XML to be inserted -->
<xacro:macro name="geometry_block" params="">
  <geometry>
    <box size="1 1 1"/>
  </geometry>
</xacro:macro>

<!-- Insert the block inside a collision or visual element -->
<link name="block_link">
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <xacro:insert_block name="geometry_block"/>
  </collision>
</link>
